.header {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(245, 179, 213);
}

.header h1{
  color: rgb(244, 49, 185);
}

.headercart {
  display: flex;
  align-items: center;
}

.headercart i {
  margin-right: 2px;
  font-size: 25px;
  color: black;
}

.headercart p {
  margin: 0;
  margin-top: -19px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(0, 0, 19);
  margin-left: -9px;
  background-color: yellow;
  border-radius: 75px;
}

.form{
    padding: 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(209, 230, 237);
}

.products{
  padding: 30px;
  /* text-align: center; */
  background-color: rgb(217, 194, 213);
}

.products button{
  background-color: black;
  border-radius: 25px;
  color: rgb(235, 227, 248);
}